.player {
    width: 240px;
    display: flex;
    align-items: center;
    background-color: rgba(255, 149, 0, 0.8);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    span{
        font-size: 24px;
        margin-left: 12px;
    }

    img {
        width: 72px;
        height: 72px;
        object-fit: cover;
        border-radius: 100%;
    }
}