.field {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-image: url('/assets/img/board.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-stack {
    position: relative;

    img {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 120px;
        height: auto;
    }

    .top-card {
        right: 20px;
        cursor: pointer;
        transition: all 125ms ease-in-out;

        &:hover {
            transform: scale(1.025) translateY(-10px);
        }
    }

    .pick-card {
        right: 20px;
        transition: all 125ms ease-in-out;
        animation: pick-card-animation 1.15s ease-in-out;
        transform: scale(1.2) translateX(150px) translateY(-200px) rotate(9deg);
    }

    .played-card {
        right: 20px;
        transition: all 125ms ease-in-out;
        animation: pick-card-animation 1.15s ease-in-out;
        transform: scale(1.2) translateX(150px) translateY(-200px) rotate(9deg);
    }

    @keyframes pick-card-animation {
        0% {
            transform: scale(1);
        }

        40% {
            transform: scale(1.6);
        }

        60% {
            transform: scale(1.6);
        }

        100% {
            transform: scale(1.2) translateX(150px) translateY(-200px) rotate(9deg);
        }
    }
}

.player-position {
    position: absolute;
    right: 0;
}