@for(player of game.players; track player; let i = $index) {
<app-player [ngStyle]="{'top.px': 80 + (i * 88)}" [name]="player" class="player-position"></app-player>
}

<div class="field">
    <div class="card-stack">
        @for(images of [0, 1, 2, 3]; track images; let i = $index;){
        <img [ngStyle]="{'right.px': i * 5}" src="/assets/img/cards/card_cover.png" alt="">
        }
        <img (click)="pickCard()" class="top-card" src="/assets/img/cards/card_cover.png" alt="">
        <img (click)="pickCard()" *ngIf="pickCardAnimation" class="pick-card"
            src="/assets/img/cards/{{ currentCard }}.png" alt="">

        @for(card of game.playedCards; track card;) {
        <img class="played-card" src="/assets/img/cards/{{ card }}.png" alt="">
        }
    </div>
</div>

<button (click)="openDialog()" mat-fab aria-label="Example icon button with a delete icon" class="btn-add">
    <mat-icon>add</mat-icon>
</button>